.mode {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0 auto 15px;

    button {
        position: relative;
        border: 0;
        height: 25px; width: 51px;
        border-radius: 12px;
        margin: 0 20px;

        .slider {
            position: absolute;
            height: 19px; width: 19px;
            border-radius: 50%;
            top: 3px; left: 4px;
            background-color: hsl(229, 25%, 31%);
            transition: .5s;
        }

        &.active .slider { left: 28px }

        @media screen and (max-width: 525px) {
            height: 17px;

            .slider {
                height: 13px; width: 13px;
                top: 2px;
            }

            &.active .slider { left: 34px }
        }
    }

    &__scissors img {
        max-width: 27px;
    }

    @media screen and (max-width: 590px) {
        &__grizzly img { max-width: 24px }
        &__scissors img { max-width: 21px }
    }
}